body {
  /*Bakgrunn*/
  background: url("../Medie/bilder/Serj.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

body::before {
  /*Overlegg for bakgrunnsbilde*/
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: -1;
  pointer-events: none;
}

header,
.navHolder,
.InnholdHolder,
.nextPageBtn {
  /*Flytter alt innhold over bakgrunnsbildet*/
  position: relative;
  z-index: 1;
}

.titleHolder {
  /*Tittelskrift*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleHolder img {
  width: 20vh;
}

nav {
  /*Navigasjonsmeny*/
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;
}

nav a {
  /*Navigasjonslenker*/
  font-size: 1.2rem;
  padding: 18px 0;
  color: #000000;
  text-decoration: none;
  text-align: center;
  transition: background 0.2s;
  display: block;
}

nav a:hover {
  /*Hover-effekt for navigasjonslenker*/
  background: #44445a;
}

.navHolder {
  /*Navigasjonsmeny holder*/
  background: rgba(176, 170, 170, 0.7);
  width: 180px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.InnholdHolder {
  /*Holder for video & tekst*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  z-index: 1;
  margin: 0px;
  padding: 0px;

  pointer-events: none;
}

.InnholdHolder video {
  pointer-events: all;
}

.TextBox {
  /*Tekstboks style*/
  flex: 1 1 auto;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 1rem;
  background: #f8faff;
  border: 1.5px solid #217dbb;
  border-radius: 6px;
  margin: 0;
  text-align: center;
}
